/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"); */

.gray-1 {
    color: '#212121';
}

.gray-2 {
    color: '#666666';
}

.gray-3 {
    color: '#A1A1A1';
}

.gray-4 {
    color: '#FAFAFA';
}

.primary-1 {
    color: '#1A237E';
}

.primary-2 {
    color: '#9FA8DA';
}

.primary-3 {
    color: '#E8EAF6';
}

.secondary-1 {
    color: '#E91E63';
}

.secondary-2 {
    color: '#F48FB1';
}

.secondary-3 {
    color: '#FCE4EC';
}

.success {
    color: '#8BC34A';
}

.danger {
    color: '#F44336';
}
