@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.gray-1 {
    color: #212121;
}

.gray-2 {
    color: #666666;
}

.gray-3 {
    color: #A1A1A1;
}

.gray-4 {
    color: #FAFAFA;
}

.primary-1 {
    color: #714CAE;
}

.primary-2 {
    color: #9F4C8E;
}

.primary-3 {
    color: #E2B7CE;
}

.secondary-1 {
    color: #F2AC91;
}

.secondary-2 {
    color: #F7D1C6;
}

.secondary-3 {
    color: #FFF7DE;
}

.tertiary-1 {
    color: #2A37B3;
}

.tertiary-2 {
    color: #B9BDF7;
}

.tertiary-3 {
    color: #E3E6FF;
}

.success {
    color: #8BC34A;
}

.danger {
    color: #F44336;
}

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.5rem !important;
    height: 0.5rem !important;
}
  
.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem !important;
}
  
.scrollbar-thumb-gray::-webkit-scrollbar-thumb {
    background-color: #cbd5e0 !important;
}
  
.scrollbar-track-gray-lighter::-webkit-scrollbar-track {
background-color: #e2e8f0 !important;
}

.notification {
  position: fixed;
  top: 5rem;
  right: 3rem;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #;
}
.notification.success {
  background-color: #8BC34A;
}
.notification.error {
  background-color: #F44336;
}


.bg-tertiary-1 {
    background-color: #2A37B3;
}

.bg-tertiary-2 {
    background-color: #B9BDF7;
}

.bg-tertiary-3 {
    background-color: #E3E6FF;
}